@import "./base.scss";

.Cards {
  width: 100%;
}

.Card {
  background-color: $sub-color;
  border-radius: 3px;
  color: $bg-color;
  margin-bottom: 12px;
  padding: 6px 8px;
  height: auto;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.Card-title {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.Card-description {
  color: #fff;
  font-size: 16px;
  padding: 6px 8px 2px;
  height: auto;
  width: 100%;
  cursor: pointer;
}
