@import "./base.scss";

.Header {
  background-color:rgba(0,0,0,.32);
  display: flex;
}
.Header-first-block {
  display: flex;
}
.Header-second-block {
  display: flex;
}
.Header-third-block {
  display: flex;
}
.Header-icon {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 0;
  text-decoration: none;
  align-items: center;
  background-color: hsla(0,0%,100%,.3);
  box-shadow: none;
}
