@import "./base.scss";

.Lists {
  display: flex;
  padding: 0 8px;

  .List-title {
    font-weight: bold;
    border-radius: 6px;
    color: $text-color;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 8px;
    min-height: 20px;
  }
}
.List {
  width: 272px;
  margin: 0 4px;
  border: none;
  max-height: 100%;
}
.List:first-of-type {
  margin-left: 0;
}
.List:last-of-type {
  margin-right: 0;
}
